
* {
    padding: 0;
    margin: 0;
}
.image-container{
    height: 100vh;
    
    background: url("../images/pic-5.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e7e7de;
    
}

.slogan {
    margin-top: 170px;
    font-weight: bold;
}

